header {
  position: sticky;
  z-index: 2;
  top: 0;

  .header-container {
    width: 100%;
    padding: 0.4rem 1rem;
    display: flex;
    gap: 3rem;
    background-color: white;
    border: 1px solid var(--logo-color);
    border-top: none;
    box-shadow: 0 0 0.5rem 0 #8ac5d4;
    border-radius: 0 0 0.5rem 0.5rem;

    .logo-section {
      display: flex; 

      img {
        height: 5rem;
        width: 5rem;
      }

      .summmary {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        
        h3 {
          margin: 0;
        }
      }
    }

    .menu-desktop-container,
    .menu-mobile-container {
      flex: 1;
      display: flex;
    }

    .menu-desktop-container {
    }

    .menu-mobile-container {
    }
  }
}

@media (max-width: 300px) {
  header {
  
    .header-container {
  
      .logo-section { 
  
        img {
        }
  
        .summmary {
          display: none;
        }
      }
  
      .menu-desktop-container {
        display: none;
      }
  
      .menu-mobile-container {
      }
    }
  }
}

@media (min-width: 200px) and (max-width: 899px) {
  header {
  
    .header-container {
  
      .logo-section { 
  
        img {
        }
  
        .summmary {
        }
      }
  
      .menu-desktop-container {
        display: none;
      }
  
      .menu-mobile-container {
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1099px) {
  header {
  
    .header-container {
  
      .logo-section { 
  
        img {
        }
  
        .summmary {
          display: none;
        }
      }
  
      .menu-desktop-container {
      }
  
      .menu-mobile-container {
        display: none;
      }
    }
  }
}

@media (min-width: 1100px) {
  header {
  
    .header-container {
  
      .logo-section { 
  
        img {
        }
  
        .summmary {
        }
      }
  
      .menu-desktop-container {
      }
  
      .menu-mobile-container {
        display: none;
      }
    }
  }
}