.menu-mobile-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;

    .mobile-menu-checkbox {
        display: none;

        &:checked ~ .mobile-menu-popup {
            left: 0;
        }
    }

    .mobile-menu-icon {
        font-size: 2rem;
        cursor: pointer;
        color: var(--text-color);
        padding: 1rem;
        z-index: 1000;
        position: relative;
    }

    .mobile-menu-popup {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 90vw;
        z-index: 999;
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem 1rem 3rem;
        transition: left 0.3s ease-in-out;
        gap: 2rem;
        background-color: white;
        box-shadow: 0 0 .5rem 0 var(--logo-color);
    }

    .mobile-menu-checkbox:checked ~ .mobile-menu-popup {
        left: 0;
    }
}
