/* colors.css */

/* Base color variables */
:root {
  --logo-color: #8ac4d3;
  --primary-color: #99bbe8;      /* A soft, calming blue */
  --secondary-color: #c7d9f5;    /* A lighter blue for accents */
  --background-color: #f4f8fb;   /* A very light blue/gray for the background */
  --accent-color: #0077cc;       /* A stronger blue for highlights and buttons */
  --text-color: #5a5a5a;         /* A dark gray for body text */
}
  