<div class="newsletter">
    <h3>Be the first to know the news!</h3>
    <p>Subscribe to our Newsletter to stay informed about school psychology issues, as well as the organization of lectures, experiential workshops and other activities!</p>

    {% include "forms/form.html.twig" with { form: forms('newsletter') } %}
</div>