.phone-wrapper {
    .phone {
        padding: 10% 4%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .phone-numbers {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            justify-content: space-evenly;
            width: 100%;

            li {
                position: relative;

                a {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;

                    img {
                    }

                    .phone {
                    }

                    .flag {
                        position: absolute;
                        top: 1rem;
                        left: -1rem;
                        border-radius: 50%;
                        border: 1px solid var(--text-color);
                    }

                    .number {
                        display: block;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .phone-wrapper {
        .phone {
            .phone-numbers {
                gap: 1rem;
                li {
                    a {
                        .phone {
                            width: 3rem;
                        }
                        .flag {
                            width: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 769px) { 
    .phone-wrapper {
        .phone {
            .phone-numbers {
                gap: 2rem;
                li {
                    a {
                        .phone {
                            width: 5rem;
                        }
                        .flag {
                            width: 2rem;
                        }
                    }
                }
            }
        }
    }
}