<article class="biography-wrapper">
    <div class="biography">
        {% if module.header.item_title %}
            <h2 class="title">{{ module.header.item_title }}</h2>
        {% endif %}
        <section class="body">
            <ul class="paragraphs">
                {% for paragraph in module.header.paragraphs %}
                <li class="paragraph">
                    <p>{{ paragraph|raw }}</p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</article>
