<section class="service-wrapper">
    {% if icon %}
        <div class="icon-container">
            <img src="{{ icon }}" class="icon"></img>
        </div>
    {% endif %}
    <div class="service">
        <div class="header">
            <div class="header-top">
                {% if title %}
                    <div class="title-container">
                        <h2>{{ title }}</h2>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="body">
            {% if image %}
                <div class="image-container">
                    <img src="{{ image }}" class="image"></img>
                </div>
            {% endif %}
        </div>
        <div class="footer">
            {% if description %}
                <div class="description">{{ description|raw }}</div>
            {% endif %}
        </div>
    </div>
</section>