.motto-wrapper {
    .motto {
        padding: 10% 4%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .title {

        }

        .body {      
            width: 100%;
            display: flex ;
            flex-direction: column;
            align-items: center;
            gap: 3rem;

            .blockquote-container {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .motto-wrapper {
        .motto {
            
            .title {}
    
            .body {
                .blockquote-container {}

                img {
                    width: 70%;
                }            
            }
        }
    }
}

@media (min-width: 769px) { 
    .motto-wrapper {
        .motto {

            .title {}
    
            .body {
                .blockquote-container {}

                img {
                    width: 50%;
                } 
            }
        }
    }
}