<article class="intro-wrapper">
    <div class="intro">
        {% if module.header.item_title %}
            <h2 class="title">{{ module.header.item_title }}</h2>
        {% endif %}
        <section class="body">
            <section class="left">
                {% if module.header.item_paragraph %}
                    <div class="paragraph-container">
                        <p class="paragraph">{{ module.header.item_paragraph|raw }}</p>
                    </div>
                {% endif %}
            </section>
            <section class="right">
                {% if module.header.item_image %}
                    {% set localImage = module.media[module.header.item_image] %}
                    {% if localImage %}
                        {% set imageUrl = localImage.url %}
                    {% else %}
                        {% set imageUrl = theme_url ~ '/images/' ~ module.header.item_image %}
                    {% endif %}
                        <img class="image" src="{{ imageUrl }}" alt="{{ module.header.item_title }}">
                        </img>
                {% endif %}
            </section>
        </section>
    </div>
</article>
