<article class="intro-wrapper">
    <div class="intro">
        <section class="body">
            <section class="left">
                {% if module.header.item_paragraph %}
                    <div class="paragraph-container">
                        <p class="paragraph">{{ module.header.item_paragraph|raw }}</p>
                    </div>
                {% endif %}
            </section>
        </section>
    </div>
</article>
